	/* This makes all links #DE5D83 */
	a {
	color: #DE5D83;
	text-decoration: none; /* Removes the underline */
	}
	/* This makes the link turn hot pink when you hover over it */
	a:hover {
	color: hotpink;
	}
