	/* This makes all links #C71585 */
	a {
	color:#C71585 ;
	text-decoration: none; /* Removes the underline */
	}
	/* This makes the link turn hot pink when you hover over it */
	a:hover {
	color: hotpink;
	}
